root = true

[*]
charset = utf-8
end_of_line = crlf
insert_final_newline = true
trim_trailing_whitespace = true

[*.{cs,csx}]
indent_style = space
indent_size = 4
dotnet_sort_system_directives_first = true
csharp_style_namespace_declarations = file_scoped:warning
csharp_style_prefer_primary_constructors = true:suggestion
dotnet_diagnostic.CA1707.severity = none
dotnet_diagnostic.CA2007.severity = none

[*.{json,yml,yaml,props,targets,csproj,slnx}]
indent_style = space
indent_size = 2
